<h1>DaBurgers</h1>
<img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_6.png" alt="burger">
  
</object>
<div class="menu">

  <div class="items">
<h2>Ordered: </h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="items">
    <h2>Devoured: </h2>


<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
              </div>
        </div>

<form class="create-form" id="add-burger">
<h2>Burger Name: </h2>
  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>
  <div class="form-group">
    <label for="devoured">Have you ate it?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes<br>
    <input type="radio" name="devoured" value="0">No<Noframes></Noframes>
  </div>
  <button type="submit">Add</button>

</form>