body{
  background-color: khaki;
  text-align: center;
}
li {
    padding: 5px;
    margin: 5px;
    background: #f3ede4;
  }

  ul{
    list-style-type: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .menu{
    display: inline-block;
    border-radius: 10%;
    background-color: cornsilk;
    width: 80%;
    border-style: inset;
  }

  .items{
    display: inline-grid;
  }

  img{
    height: 200px;
    padding: 10px;
  }

  #add-burger{
    text-align: center;
  }